.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .carousel-container img {
    width: 500px;
    height: 300px;
    margin: 0 10px;
  }
  